header {
    font-weight: bold;
}

h1 {
  font-size: 24;
  color: blue;
  font-style: italic;
}

h2 {
    font-size: 20;
    color: #0000ff;
    font-weight: bold;
}

h3 {
    font-size: 16;
    color: teal;
    font-weight: bold;
}

p {
    color: #4D4D4D;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

img {
    width: 50%;
}
