header {
    font-weight: bold;
    height: 100vh;
    width: 100%;
    background-image: url(./img/fortnite.jpg);
    background-position: center center;  
    background-size: cover;
    background-repeat: no-repeat;

}

header p {
    color: #810065; 
}

header h1 {
  font-size: 24;
  color: rgb(174, 0, 189);
  font-style: italic;
}

h2 {
    font-size: 20;
    color: #0000ff;
    font-weight: bold;
}

h3 {
    font-size: 16;
    color: teal;
    font-weight: bold;
}

p {
    color: #4D4D4D;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

img {
    width: 50%;
}

article {
    border: 6px solid #ff0000;
    border-radius: 25px;
    border-style: groove;  
    border-left-width: 9px; 
}